@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  justify-content: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
/* Swiper 전체 */
.swiper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* 각 슬라이드 */
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 카드 크기 통일 */
.diary-card {
  width: 90%; /* 슬라이드 내부 카드의 비율 */
  max-width: 300px; /* 카드 최대 너비 */
  height: 200px; /* 카드 높이 고정 */
  background: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  transition: 0.3s;
}

.diary-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
